@media (max-width: 1366px) {
    #form-top form .text {
        font-size: 20px;
    }
    .btn-submit {
        font-size: 18px;
    }
    
    
}
@media (max-width: 1200px) { 
    
    #branchs .title-branch,
    #map-resiger .title,
    #form-resiger-main .box-title,
    #specialized .box-title .title,
    #slide-service .box-title .title{
        font-size: 24px;
    }
    #branchs .list-branch .item-branch {
        padding: 0 20px;
        margin-bottom: 25px;
    }
    header#header .box-header {
        padding: 0 25px;
    }
    header#header .box-header .logo img{
        height: 55px;
    }
    header#header {
        top: 25px;
    }
    #banner-item .wrap-content .content .number {
        font-size: 45px;
    }
    #banner-item .wrap-content .content .text {
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    .box-fixed-footer {
        bottom: 40px;
        left: 20px;
    }
    #form-top form{
        flex-direction: column;
        text-align: center;
    }
    #form-top form .text{
        margin-bottom: 10px;
    }
    #form-top form .btn-submit{
        margin-top: 15px;
    }
    #map-resiger .text-step {
        font-size: 16px;
    }
    #map-resiger .box-content .title-step {
        font-size: 15px;
    }
    #map-resiger .box-content {
        padding: 10px 15px 15px;
    }
    #map-resiger .box-content .text {
        font-size: 13px;
        min-height: 33.5px;

    }
    #slide-service .item .content {
        padding: 15px 25px 25px;
    }
    #branchs .wrap-branch .btn-link {
        font-size: 17px;
    }
    #branchs .title-branch, #map-resiger .title, 
    #form-resiger-main .box-title, 
    #specialized .box-title .title, 
    #enrollment-method .box-title,
    #slide-service .box-title .title {
        font-size: 22px;
    }
    #slide-service .wrap-slide {
        padding-bottom: 50px;
    }
    .owl-theme .owl-nav .owl-prev {
        left: 10px;
    }
    .owl-theme .owl-nav .owl-next {
        right: 10px;
    }
}
@media (max-width: 992px) {
    header#header .box-header{
        position: relative;
    }
    header#header .wrap-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #151949;
        transform: translateX(calc(-100% - 40px));
        transition: all .3s;
        padding-bottom: 20px;
    }
    header#header .wrap-menu.active {
        transform: translateX(0);
        transition: all .3s;
    }
    header#header .wrap-menu .box-menu{
        flex-direction: column;
        padding-top: 20px;
    }
    header#header .wrap-menu .box-menu li{
        width: 100%;
    }
    header#header .wrap-menu li a {
        font-size: 16px;
        padding: 10px 25px;
        color: #FFF;
    }
    .item-new.big{
        margin-bottom: 30px;
    }
    #specialized .row>[class*="col-"]{
        margin-bottom: 30px;
    }
    #slide-service .item .content{
        padding: 15px;
    }
    #banner-item .wrap-content .content {
        padding-left: 10px;
    }
    #banner-item .wrap-content .content .number {
        font-size: 35px;
        min-width: 115px;
    }
    #banner-item .wrap-content .content .text {
        font-size: 12px;
    }
    #banner-item .wrap-content .box-image {
        width: 100%;
        max-width: 200px;
    }
    #news {
        background-color: #FFF;
        border-top: 5px solid #1767b2;
    }
    #banner-main .owl-carousel .item img {
        height: 460px;
    }
}
@media (max-width: 768px) {
    
    header#header {
        top: 40px;
    }
    #slide-service .box-title{
        margin-bottom: 30px;
    }
    #slide-service .box-title .title{
        max-width: 250px;
        margin: 0 auto;
    }
    #slide-service .box-title .text{
        max-width: 100%;
    }
    #form-top{
        padding: 20px 0 30px;
    }
    #form-top form .text {
        font-size: 22px;
        margin-bottom: 15px;
    }
    #form-top .wrap-form .form-group {
        flex: unset;
        max-width: 100%;
        width: 100%;
    }
    .wrap-form{
        max-width: calc(100% - 60px);
    }
    .wrap-form .form-group .form-control{
        width: 100%;
    }

#branchs .title-branch, #map-resiger .title, 
#form-resiger-main .box-title, 
#specialized .box-title .title, 
#enrollment-method .box-title,
#slide-service .box-title .title {
    font-size: 20px;
    text-align: center;
    }
    
    #map-resiger .row{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    #map-resiger .row::before{
        display: none;
    }
    #map-resiger .row [class*="col-"]{
        flex: 0 0 303px;
        max-width: 303px;
    }
    #map-resiger .row [class*="col-"]::before{
        content: "";
        height: 7px;
        width: 100%;
        background-color: #e0e1e2;
        display: block;
        position: absolute;
        top: 14px;
        left: 0;
        right: 0;
    }
    #map-resiger .row [class*="col-"]:first-child::before{
        border-radius: 5px 0 0 5px;
        left: 5px;
        width: calc(100% - 5px);
    }
    #map-resiger .row [class*="col-"]:last-child::before{
        right: 5px;
        width: calc(100% - 5px);
        border-radius: 0 5px 5px 0;
    }
    #form-resiger-main .wrap-form{
        width: calc(100% - 60px);
        margin: 0 auto;
    }
    #form-resiger-main .wrap-form .box-resi{
        flex-direction: column;
        align-items: flex-start;
    }
    #form-resiger-main .wrap-form .box-resi .title{
        margin-bottom: 10px;
    }
    #form-resiger-main .wrap-form .box-resi .list-item {
        flex-wrap: wrap;
    }
    #form-resiger-main .wrap-form .box-resi .list-item .form-check{
        margin: 0 0 10px 0;
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        min-width: unset;
    }
    footer#footer .footer-main{
        flex-direction: column;
        justify-content: center;
    }
    footer#footer .footer-main .item{
        margin-bottom: 15px;
    }
    footer#footer .footer-main .item:nth-child(1){
        order: 1;
    }
    footer#footer .footer-main .item:nth-child(2){
        order: 3;
    }
    footer#footer .footer-main .item:nth-child(3){
        order: 2;
    }
    header#header .box-header .logo img{
        height: 56px;
    }
    #enrollment-method .box-method .title-tabs .item{
        font-size: 14px;
        padding-inline: 10px;
    }
    #enrollment-method .box-method .box-contents {
        background-color: #FFF;
        padding: 25px 30px 30px;
    }
    #enrollment-method .box-method .box-contents .item-content .box-method-item{
        flex-direction: column;
    }
    #enrollment-method .box-method .box-contents .item-content .box-method-item .list-method{
        flex: unset;
        max-width: 100%;
    }
    #enrollment-method .box-method .box-contents .item-content .box-method-item .list-method .item .number{
        display: none;
    }
    #enrollment-method .box-method .box-contents .item-content .box-method-item .list-method .item {
        margin-bottom: 5px;
        padding: 6px 10px
    }
    
    .wrap-form-modal>.d-flex{
        flex-direction: column;
        padding-inline: 10px;
    }
    
    .owl-theme .owl-nav .owl-prev {
        left: -15px;
    }
    .owl-theme .owl-nav .owl-next {
        right: -15px;
    }
    #news .list-new .item-new {
        flex: 0 0 calc(50% - 7.5px);
        max-width: calc(50% - 7.5px);
    }
    #banner-item {
        background-position: left;
    }
    #banner-item .wrap-content{
        flex-direction: column;
    }
    #banner-item .wrap-content .box-image{
        margin-bottom: 20px;
    }
    #banner-main .owl-carousel .item img{
        display: none;
    }
    #banner-main .owl-carousel .item img.mobile{
        display: block;
        height: 550px;
    }
}
@media (max-width: 576px) {
    #enrollment-method .box-method .box-contents .list-tuition{
        flex-direction: column;
    }
    #enrollment-method .box-method .box-contents .list-tuition .item{
        width: 100%;
    }
    header#header .toggle-menu{
        right: 30px;
    }
    #enrollment-method .box-method .box-contents {
        padding: 25px 15px 30px;
    }
    #news .list-new .item-new {
        flex: unset;
        max-width: 100%;
    }
    #news .item-new.big .box-image {
        margin-bottom: 15px;
    }
    #banner-main .owl-carousel .item img.mobile{
        height: 460px;
    }
}


























