:root {
    --color-main: rgb(232, 110, 37);
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
}
html {
    scroll-behavior: smooth;
  }
*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'Lato', sans-serif;
}
div{
    line-height: 1.2;
}
img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.2;
}
.width-auto{
    width: max-content;
    height: max-content;
}
a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1032px;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}
.btn.color-main{
    border-radius: 5px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    background-color:var(--color-yellow);
    color: #212121;
    text-transform: uppercase;
    text-align: center;
}
.btn.btn-color-main:hover{
    background-color: #060531;
}

  
.btn.btn-color-border-main{
    border-radius: 30px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    padding: 10px 23px 8px;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    min-height: 38px;
    letter-spacing: .03em;
    font-weight: 700;
    margin-bottom: 15px;
}
.btn.btn-color-border-main:hover{
    background-color: #d79f55;
    border-color: #d79f55;
    color: #fff;
}
.font-bold{
    font-weight: 700;
}
.font-normal{
    font-weight: 400!important;
}
.bg-dark{
    background-color: rgb(3, 10, 29)!important;
}
.color-dark{
    color: #252525!important;
}
.color-red{
    color: #f00!important;
}
.color-blue{
    color: var(--color-main)!important;
}
.color-main{
    color: var(--color-main)!important;
}
.title-main{
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
}

/* hover image  */
.box-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.box-image img{
    width: 100%;
    height: 100%;
}
header#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
header#header .box-header{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header#header .toggle-menu {
    background: transparent;
    height: 20px;
    position: absolute;
    transition: all .3s;
    width: 24px;
    margin-left: 0;
    right: 40px;

}
header#header .toggle-menu span {
    background: #151949;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after, header#header .toggle-menu:before {
    background: #151949;
    border-radius: 2px;
    content: "";
    height: 2px;
    position: absolute;
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after {
    bottom: 0;
    right: 0;
}
header#header .toggle-menu:before {
    top: 0;
}
header#header .toggle-menu.active span {
    background: transparent;
}
header#header .toggle-menu.active:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
header#header .toggle-menu.active:after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
header#header .wrap-menu .box-menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
header#header .wrap-menu li{
    text-align: center;
}
header#header .wrap-menu li a{
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    padding: 0 15px;
    text-transform: uppercase;
    transition: all .3s;
}
  
header#header .wrap-menu li a:hover{
    color: #151949;
    transition: all .3s;
}
header#header .logo{
    display: block;
    min-width: max-content;
}
header#header .logo img{
}
/*  */
#form-top{
    background-color: var(--color-main);
    padding: 18px 0;
  }
  #form-top form{
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #form-top form .text{
    font-size: 20px;
    font-weight: bold;
  }
  .wrap-form{
      margin-bottom: -12px;
      max-width: calc(260px*2 + 16px);
    }
    #form-top .wrap-form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  #form-top .wrap-form .form-group{
      flex: 0 0 calc(50% - 8px);
      max-width: 260px;
      margin-bottom: 12px;
    }
.wrap-form .form-group .form-control{
        min-height: 42px;
        border-radius: 0;
        font-size: 16px;
        padding-inline: 20px;
    }
.wrap-form .form-group .form-control::placeholder{
        font-style: italic;
        font-weight: 600;
        color: rgb(88, 89, 91);
    }
.btn-submit{
    font-size: 18px;
    letter-spacing: 3px;
    background-color: #e75b2a;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    padding: 2px 11.5px;
  }
/*  slide-service*/
#slide-service{
    background-color: var(--color-main);
    padding-bottom: 26px;
}
#slide-service .box-title{
    margin-bottom: 60px;
}
#slide-service .box-title .title{
    padding: 30px 0 20px;
    font-size: 25px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
}
#slide-service .box-title .text{
    font-size: 16px;
    width: 100%;
    max-width: 70%;
    margin:  0 auto;
    color: #fff;
}
#slide-service .box-title .color-main{
    font-size: 24px;
    font-weight: 700;
}
#slide-service .owl-carousel .owl-stage{
    display: flex;
}
#slide-service .wrap-slide{
    padding-bottom: 75px;
}
#slide-service .item{
    height: 100%;
    transition: all .3s;
}
#slide-service .item .box-image{
    min-height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slide-service .item .box-image img{
    width: max-content;
}

#slide-service .item .content{
    padding: 20px 0 0px;
    text-align: center;
}
#slide-service .item .content a{
    display: block;
    margin-bottom: 15px;
}
#slide-service .item .content a .title{
    font-size: 15px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    min-height: 40px;
    transition: all .3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#slide-service .item .content .text{
    font-size: 16px;
    color: #fff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 10;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#slide-service .box-btn{
    text-align: center;
}
#slide-service .btn-link{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 0;
    padding: 6.5px 27px;
}
  
.owl-theme .owl-dots .owl-dot span{
    width: 11px;
    height: 11px;
    margin: 10px 2.5px 0;
    border: 1px solid #6d6e71;
    background: transparent;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #6d6e71;
}

#branchs{
    margin-bottom: 75px;
}
#branchs .wrap-branch{
    background-image: url(../images/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding-bottom: 55px;
    margin-top: -195px;
    box-shadow: 5px 5px 50px rgb(69 71 74 / 66%);
}
#branchs .title-branch{
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    padding-top: 60px;
    padding-bottom: 42px;
}
#branchs .list-branch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}
#branchs .list-branch .item-branch{
    padding: 0 30px;
    margin-bottom: 38px;
}
#branchs .list-branch .item-branch .btn{
    border: none;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    background: #0482fb;
    border-radius: 20px;
    padding: 6.5px 25px;
}
#branchs .wrap-branch .btn-link{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: #e75b2a;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    padding: 2.5px 15px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #e75b2a;
}
#branchs .wrap-branch .btn-link:hover{
    background-color: transparent;
    color: #e75b2a;
}
/* list-cntt */
#list-cntt{
    padding-bottom: 45px;
}
#list-cntt .title-section{
    font-size: 28px;
    color: rgb(28, 42, 6);
    font-weight: 700;
}
#list-cntt .title{
    font-size: 22px;
    font-weight: 700;
    margin-top: 35px;
    color: rgb(0, 128, 247);
    margin-bottom: 10px;
}
#list-cntt .text{
    font-size: 16px;
    line-height: 1.2;
    color: rgb(35, 31, 32);;
}
#list-cntt [class*="col-"]{
    margin-bottom: 40px;
}
#list-cntt .box-image img{
    border-radius: 60px 0 60px 0;
}
  

/* #form-resiger-main */
#form-resiger-main{
    background-color: var(--color-main);
    padding-top: 30px;
}
#form-resiger-main .box-title{
    font-size: 28px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}
#form-resiger-main .wrap-form{max-width: 100%; margin-bottom: 0;}
#form-resiger-main .wrap-form .row{
    margin-inline: -10px;
}
#form-resiger-main .wrap-form .form-group{
    margin-bottom: 18px;
    padding-inline: 10px;
}
#form-resiger-main .wrap-form .form-group input{
    border: 1px solid #c1c1c1;
}
#form-resiger-main .wrap-form .box-resi{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#form-resiger-main .wrap-form .box-resi .title{
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    min-width: 200px;
}
#form-resiger-main .wrap-form .box-resi .list-item{
    display: flex;
    align-items: center;
}
#form-resiger-main .wrap-form .form-child{
    margin-bottom: 17px;
}
#form-resiger-main .wrap-form .box-resi .list-item .form-check{
    min-width: 80px;
    margin-left: 25px;
}
#form-resiger-main .wrap-form .box-resi .list-item .form-check label{
    color: #FFF;
    font-size: 15px;
    padding-left: 5px;

}
#form-resiger-main .wrap-form .box-resi .list-item .form-check .form-check-input {
    transform: scale(1.4);
}
#form-resiger-main .wrap-form .box-submit{
    padding: 35px 0 40px;
}
#form-resiger-main .wrap-form .btn-submit{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 0;
    padding: 6.5px 27px;
    font-size: 16px;
    background-color: transparent;
    letter-spacing: normal;
    font-weight: 500;
}
#form-resiger-main .wrap-form .btn-submit:hover{
    text-decoration: underline;
}

/* footer */
footer#footer{
    background-image: url(../images/bg-footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 25px;
}
footer#footer .footer-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer#footer .footer-main .item{
    color: #FFF;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}
footer#footer .footer-main .item img{
    margin-right: 10px;
}
footer#footer .footer-main .item.hotline{
    font-style: normal;
    background-color: #ea7126;
    padding: 5px 15px;
    border-radius: 30px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer#footer .footer-main .item:hover{
    color: #ea7126;
}
footer#footer .footer-main .item.hotline:hover{
    opacity: .65;
    color: #FFF;
}
.box-fixed-footer{
    position: fixed;
    bottom: 110px;
    left: 130px;
    z-index: 100;
}

#enrollment-method{
    padding: 50px 0 75px;
    background-color: var(--color-main);
}
#enrollment-method .box-title{
    font-size: 24px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
}
#enrollment-method .box-method *{
    font-size: 16px;
}
#enrollment-method .box-method .title-tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/bg-btn-tab.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#enrollment-method .box-method .title-tabs .item{
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 40px;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-right: 2px solid #FFF;
}
#enrollment-method .box-method .title-tabs .item:last-child{
    border: none;
}
#enrollment-method .box-method .box-contents{
    background-color: #FFF;
    padding: 30px 50px 30px;
}
#enrollment-method .box-method .box-contents .item-content{
    display: none;
}
#enrollment-method .box-method .box-contents .item-content.active{
    display: block;
}
#enrollment-method .box-method .box-contents .item-content .detail-text>*{
    margin-bottom: 15px;
}
#enrollment-method .box-method .box-contents .item-content .detail-text *{
    font-weight: 700;
    color: #231f20;
}
#enrollment-method .box-method .box-contents .item-content .detail-text .color-blue{
    color: var(--color-main);
}
#enrollment-method .box-method .box-contents .item-content .box-method-item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -10px;
}
#enrollment-method .box-method .box-contents .item-content .box-method-item .list-method{
    flex: 0 0 calc(50% - 13px);
    max-width: calc(50% - 13px);
    margin-top: 15px;
}
#enrollment-method .box-method .box-contents .item-content .box-method-item .list-method .item{
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 20px 10px 25px;
    color:  rgb(35, 31, 32);
    font-size: 16px;
    position: relative;
    font-weight: 300;
    display: flex;
    border: 2px solid var(--color-main);
}
#enrollment-method .box-method .box-contents .item-content .box-method-item .list-method .item .number{
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: absolute;
    left: -14px;
    top: 5px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-main);
}
  
#enrollment-method .box-method .box-contents .list-tuition{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}
#enrollment-method .box-method .box-contents .list-tuition .item{
    border: none;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    background: #0482fb;
    border-radius: 20px;
    padding: 6.5px 25px;
    margin: 0 10px 10px;
}
#enrollment-method .box-method .box-contents .list-method .item .content{
    font-weight: 500;
}

.wrap-form-modal>.d-flex{
    width: 100%;
    padding: 0 75px;
}
  
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-theme .owl-nav .owl-prev{
    left: -45px;
}
.owl-theme .owl-nav .owl-next{
    right: -45px;
}

#banner-main .owl-carousel .item{
    display: block;
    width: 100%;
}
#banner-main .owl-carousel .item img{
    width: 100%;
    height: 600px;
}
#banner-main .owl-carousel .item img.mobile{
    display: none;
}
#banner-main .owl-carousel .owl-dots{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}
#banner-main .owl-carousel .owl-dots .owl-dot span{
    border-color: #FFF;
}
#banner-main .owl-carousel .owl-dots .owl-dot.active span{
    background-color: #FFF;
}

#banner-item{
    padding: 55px 0 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner-item .wrap-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#banner-item .wrap-content .box-image {
    width: max-content;
}
#banner-item .wrap-content .content{
    padding-left: 20px;
}
#banner-item .wrap-content .content .item{
    display: flex;
    align-items: center;
}
#banner-item .wrap-content .content .number{
    font-size: 50px;
    color: var(--color-main);
    font-weight: 900;
    text-transform: uppercase;
    min-width: 140px;
    text-align: right;
    margin-right: 10px;
}
#banner-item .wrap-content .content .text{
    font-size: 16.5px;
    color: rgb(35, 31, 32);
    font-weight: 600;
    text-transform: uppercase;
}

  /* specialized */
  #specialized{
    position: relative;
    background-color: #f1f1f1;
    padding-top: 30px;
    
  }
  #specialized .bg-main{
      display: block;
      width: 100%;
      max-height: 550px;
    }
    #specialized .contents{
        margin-bottom: -100px;
    }
  #specialized .box-title .title {
    padding-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
    color: var(--color-main);
    margin-bottom: 0;
    text-transform: uppercase;
}
#specialized .row{
    margin-inline: -8px;
}
#specialized .row>[class*="col-"]{
    padding-inline: 8px;
}
  #specialized .item{
    position: relative;
    height: 100%;
    border-radius: 25px;
    box-shadow: 8.29px 5.592px 0px 0px rgba(255, 255, 255, 0.004);
    padding: 25px 0 15px;
    z-index: 2;
}
#specialized .item::before,
#specialized .item::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 6.5px solid #fff;
    border-radius: 25px;
    z-index: 1;
}
#specialized .item::before{
    top: 6.5px;
    left: 6.5px;
}
#specialized .item::after{
    top: 0;
    left: 0;
    border-color: var(--color-main);
    z-index: 2;
}
  #specialized .item .title{
    text-align: center;
    font-size: 16.5px;
    text-transform: uppercase;
    color: var(--color-main);
    font-weight: 900;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
  }
  #specialized .item .description{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 3;
  }
  #specialized .item .description .box-icon{
      /* min-width: max-content; */
      margin-right: 5px;
    }
    #specialized .item .description .box-icon img{
        width: 100%;
        min-width: 60px;
        max-width: 75px;
    }
  #specialized .item .description .list-special{
    padding-left: 5px;
  }
  #specialized .item .description .list-special li{
      line-height: 1.379;
      color: rgb(35, 31, 32);
      font-size: 12px;
      font-weight: 500;
      position: relative;
    }
    #specialized .item .description .list-special li::before{
        content: "";
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background-color: rgb(35, 31, 32);
        position: absolute;
        top: 5px;
        left: -5px;
    }
  /* news */
  #news{
    background-color: #FFF;
    border-top: 31px solid #1767b2;
    padding-top: 25px;
  }
  #news .box-title .title{
    font-size: 24px;
    color: var(--color-main);
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
  #news .list-new{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #news .list-new .item-new{
      flex: 0 0 calc(50% - 15px);
      max-width: calc(50% - 15px);
      margin-bottom: 30px;
      height: 100%;
    }
#news .item-new .box-image{
    margin-bottom: 17px;
}
#news .item-new.big .box-image{
    margin-bottom: 45px;
}
#news .item-new.big .content .title a{
    font-size: 16px;
}
#news .item-new.big .content .text{
    margin-bottom: 25px;
    font-size: 12px;
}
#news .item-new .content{}
#news .item-new .content .tag{
    background-color: var(--color-main);
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 6px 3px;
    margin-bottom: 15px;
}
#news .item-new .content .title a{
    font-weight: 700;
    font-size: 15px;
    color: rgb(35, 31, 32);
    margin-bottom: 17px;
    line-height: 1.33;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#news .item-new .content .title a:hover{
    color: var(--color-main);
}
#news .item-new .content .date{
    color: rgb(88, 89, 91);
    font-size: 14px;
}


  
